.container{
  width: 100%;
  padding: 0;
  margin: 0;
}
.cover{
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.placeLabel, .activityLabel{
  background-color: rgb(144, 202, 249);
  color: #242424;
  padding: 2px 6px;
  text-align: center;
  border-radius: 5px;
  margin-right: 8px;
}
.activityLabel{
  background-color: rgb(206, 147, 216);
}

.descriptionCard{
  padding: 5px 30px 20px !important;
  margin-bottom: 40px;
}
.dayCard{
  padding: 0;
  margin-bottom: 70px;
}
.dayCard h4{
  margin-bottom: 25px;
}
.dayCard p{
  margin-bottom: 30px;
}

.dayCard p > p{
  margin: 5px 15px 10px 15px;
  color: #212121;
}
p > i{
  color: rgb(173,72,189);
}
.priceCard{
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 20px 50px 30px !important;
}
.priceCard h5{
  margin: 10px 0 5px;
}
.priceCard h6{
  margin: 10px 0 5px;
}
.bookTour{
  margin-top: 30px;
}