.navbarBlock {
  color: #212121;
  background-color: #e3f2fd;
  border-radius: 0;
  padding: 20px 0;
  margin: 130px 0 0;
  display: block;
  width: 100%;
}

.navbarBlock a {
  color: #212121;
  padding-right: 10px;
  padding-left: 10px;
}

.navbarBlock a:hover {
  color: #0288d1;
}
