.tabLabel{
  font-family: verveine, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: bold  !important;
  font-size: 2rem  !important;
  line-height: 1.2  !important;
}
