.tourContainer {
  margin: 0 auto;
  padding: 0;
}
.tourPaperBlock {
  margin: 20px 20px 0;
}
@media (max-width: 768px) {
  .tourPaperBlock {
    margin: 10px 0;
  }
}
h4 {
  color: #212121;
  line-height: 1.1;
}
.footer {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 20px 40px;
  margin-bottom: 20px;
}
.placeLabel,
.activityLabel {
  background-color: rgb(144, 202, 249);
  color: #242424;
  padding: 2px 6px;
  text-align: center;
  border-radius: 5px;
  margin: 5px 8px 0 0;
  display: inline-block;
  line-height: 20px;
}
.activityLabel {
  background-color: rgb(206, 147, 216);
}

.tourPaperBlock .cardContent{
  background-color: #ffffff;
  animation: background-color 1s ease;
}

.tourPaperBlock:hover{
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12) !important;
}

.tourPaperBlock:hover .cardContent{
  background-color: #e3f2fd;
}
