.tourContainer{
  margin: 0 auto;
  padding: 0;
}
.tourPaperBlock{
  margin: 20px 20px 0;
}
@media (max-width: 768px) {
  .tourPaperBlock {
    margin: 10px 0;
  }
}

.title {
  color: #212121;
}

.title:hover {
  color: #242424;
}
.footer {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 20px 40px;
  margin-bottom: 20px;
}
.placeLabel,
.activityLabel {
  background-color: rgb(144, 202, 249);
  color: #242424;
  padding: 2px 6px;
  text-align: center;
  border-radius: 5px;
  margin-right: 8px;
}
.activityLabel {
  background-color: rgb(206, 147, 216);
}
