.container {
  max-width: 90%;
  margin: 50px auto 100px;
}
.toursContainer {
  padding: 0;
}
.tourTabs {
  padding: 0 50px !important;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 100% !important;
    margin: 20px auto 50px;
    padding: 0 !important;
  }
  .tourTabs {
    padding: 0 10px !important;
    margin: 0 20px !important;
  }
}

.tabLabel {
  font-family: verveine, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  font-size: 2rem !important;
  line-height: 1.2 !important;
}
