.logoImage {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 340px;
  cursor: pointer !important;
}
.logoImage img{
  width: 100%;
  margin: 20px 0 0 20px;
}
.logoImage:hover {
  cursor: pointer !important;
}