.articlePreviewDiv{
  display: flex;
}
.articlePreviewAvatar{
  width: 250px;
}
.articlePreviewText{
  margin-left: 15px;
}
.videoPreview{
  margin: 0 auto 20px;
  display: block;
  text-align: center;
  padding-top: 20px;
}