.container{
  position: fixed;
  margin: 30px;
  top: 0;
  right: 0;
  z-index: 1000;
}
.drawer{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px;
  padding: 20px 40px;
}
.langLinks{
  position: fixed;
  margin: 30px;
  top: 0;
  right: 80px;
  z-index: 1000;
}

.drawerButton{
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.drawerLink{
  color: #90caf9 !important;
  margin-bottom: 10px;
  text-align: left;
}
.drawerLink:hover{
  color: #42a5f5 !important;
}
.drawerLink a{
  color: #90caf9 !important;
  text-decoration: none;
}
.drawerLink a:hover{
  text-decoration: none;
  color: #42a5f5 !important;
}
.contactsBlock{
  border-top: 1px solid #f0f0f0;
  margin-top: 30px;
  padding-top: 30px;
}
.contactsBlock a{
  color: #f0f0f0 !important;
  padding-right: 5px;
  padding-bottom: 5px;
}
.contactsBlock a:hover{
  color: #42a5f5 !important;
}
.contactsBlock p{
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
}
